<div class="card">
    <div class="card-header">
            List of People
    </div>


    <div *ngIf="serviceMessage == 'Loading'" class="alert alert-secondary" role="alert" style="text-align: center;">
        Busy Loading People. Time taken so far: {{loadingTime}}s.
    </div>
    <div *ngIf="serviceMessage == 'Success'" class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
        People Successfully Loaded!
        <button class="close btn btn-close" (click)="clearServiceMessage()"></button>
    </div>
    <div *ngIf="serviceMessage == 'Fail'" class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;">
        Error: Failed to load People.
        <button class="close btn btn-close" (click)="clearServiceMessage()"></button>
    </div>


    <ng-container *ngIf="people">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody *ngIf="people.length">
    
                <tr *ngFor="let person of people">
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{getAge(person.birthdate)}}</td>
    
                    <td>
                        <button class="btn btn-warning" (click)="onEdit(person)" style="margin-right: 10px;">Edit
                        </button>
    
                        <button class="btn btn-danger" (click)="onDelete(person)">Delete
                        </button>
                    </td>
                </tr>
    
            </tbody>
            <button class="btn btn-primary" routerLink="/person/0" style="margin-left: 20px; margin-top: 15px;">Create Person
            </button>
        </table>
    </ng-container>    
</div>
